@import 'nib'

html, body, .game
  height 100%
  width 100%
  color #776E65
  background #faf8ef
  font-size 10px
  padding 0
  margin 0

.game-menu
  padding 10px
  font-size 2rem
  color #776e65
  background #decdbd
  input
    max-width 32px
  .button
    margin 0 3px
    background #8f7a66
    border-radius 3px
    padding 0 20px
    text-decoration none
    color #f9f6f2
    cursor pointer
    display block
    text-align center
    float right

.puzzle
  height 100%
  width 100%
  background #bbada0
  border-collapse collapse
  border 10px solid #bbada0
  table-layout fixed

.puzzle-cell
  background rgba(238, 228, 218, 0.35)
  text-align center
  font-weight bold
  font-size 5rem
  border 5px solid #bbada0
  &:empty
    background #eee4da
